/* CSS for Navbar */

.navbar__div {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border: solid 5px black;
  border-radius: 20px;
}

.navbar__UI {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  max-width: 2000px;
  width: 100%;
}

.navbar__logo__image {
  height: 100px;
  width: 100px;
}

.navbar__input__box {
  border-radius: 20px;
  height: 30px;
  margin-top: 10px;
}

/* CSS for Movie tile */

.movie__and__sort__div {
  display: grid;
  grid-template-columns: auto auto;
}

.image__movie__poster {
  height: 200px;
  width: 150px;
}

.movie__list__div {
  padding-top: 10px;
  max-width: 1200px;
  width: 100%;
}

.movie__list__UI {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.movie__poster__UI {
  background-color: bisque;
  width: 50%;
  padding: 50px;
  margin: 10px;
  border-radius: 10px;
}
